// @import "mediaQuery";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: rgb(33, 43, 66);
    opacity: 0.9;
}

li {
    list-style: none;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
}

._container {
    background-color: rgb(61, 71, 97);
    opacity: 0.9;
    width: 80%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 40px;
    gap: 40px;

}

@media screen and (max-width: 1038px) {
    ._container {
        display: grid;
        // flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    ._container {
        display: grid;
        // flex-direction: column;
    }
}

._navbar {
    width: 100px;
    background-color: rgb(33, 43, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    border-radius: 10px;
}

@media screen and (max-width: 1038px) {
    ._navbar {
        width: 100%;

        ul {
            display: flex;
        }
    }
}

@media screen and (max-width: 900px) {
    ._navbar {
        width: 100%;
        display: flex;

        // flex-direction: row;
        ul {
            display: flex;
        }
    }
}


._change {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: antiquewhite;
        font-size: 30px;
    }
}


@media screen and (max-width: 900px) {
    ._checkbox {
        display: none;
    }

}

._item_container {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    input[type=radio] {
        display: none;
    }

    input[type=radio] {
        &:checked+._card_container {
            display: flex;
        }
    }

    ._card_container {
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    ._item {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 300px;
        background-color: rgb(31, 43, 69);
        opacity: 0.9;
        border-radius: 10px;

        ._font {
            color: antiquewhite;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            span {
                font-size: 20px;
            }

            p {
                text-align: center;
                font-size: 12px;
            }
            audio{
                width: 280px;
                height: 40px;
            }
        }


    }

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

}


// @media screen and (max-width: 900px) {
//     ._item_container ._item {
//         grid-auto-columns: calc((100% / 3) - 50px);
//     }
// }

// @media screen and (max-width: 600px) {
//     ._item_container ._item {
//         grid-auto-columns: calc((100% / 2) - 19px);
//     }
// }